* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: red;
  height: 50px;
  width: 100%;
}

.main-visual {
  background-color: orange;
  width: 100%;
  height: 500px;
}

.main {
  width: 960px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.sidebar-left {
  background-color: palegreen;
  width: 230px;
  height: 1400px;
}

.blog {
  background-color: limegreen;
  width: 500px;
  height: 1400px;
}

.sidebar-right {
  background-color: palegreen;
  width: 230px;
  height: 1400px;
}

.footer {
  background-color: blue;
  height: 100px;
  width:100%;
}